<style type="text/css">
    .gray {
        -webkit-filter: grayscale(100%);
        -moz-filter: grayscale(100%);
        -ms-filter: grayscale(100%);
        -o-filter: grayscale(100%);

        filter: grayscale(100%);

        filter: gray;
    }

    .layui-find-list li img {
        position: absolute;
        left: 15px;
        top: 8px;
        width: 36px;
        height: 36px;
        border-radius: 100%;
    }

    .layui-find-list li {
        position: relative;
        height: 90px;
        ;
        padding: 5px 15px 5px 60px;
        font-size: 0;
        cursor: pointer;
    }

    .layui-find-list li * {
        display: inline-block;
        vertical-align: top;
        font-size: 14px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .layui-find-list li span {
        margin-top: 4px;
        max-width: 155px;
    }

    .layui-find-list li p {
        display: block;
        line-height: 18px;
        font-size: 12px;
        color: #999;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .back {
        cursor: pointer;
    }

    /* .lay_page {
        position: fixed;
        bottom: 0;
        margin-left: -15px;
        margin-bottom: 20px;
        background: #fff;
        width: 100%;
    }

    .layui-laypage {
        width: 105px;
        margin: 0 auto;
        display: block
    } */
</style>

</head>

<body>
    <div class="layui-form">
        <div class="layui-container" style="padding:0">
            <div class="layui-row layui-col-space3">
                <div class="layui-col-xs7 mt15">
                    <input type="text" name="title" lay-verify="title" autocomplete="off" placeholder="请输入关键字"
                        class="layui-input">
                </div>
                <div class="layui-col-xs1 mt15">
                    <button class="layui-btn btncolor find">查找</button>
                </div>

                <div class="layui-col-xs3 mt15">
                    <input type="radio" name="add" value="friend" title="找人" checked="">
                    <input type="radio" name="add" value="group" title="找群">
                    <!-- <button class="layui-btn layui-btn-mini btncolor createGroup">我要建群</button> -->
                </div>
            </div>
            <div id="LAY_view"></div>
            <textarea title="消息模版" id="LAY_tpl" style="display:none;">
			<fieldset class="layui-elem-field layui-field-title">
			  <legend>{{ d.legend}}</legend>
            </fieldset>	

			<div class="layui-row ">
               

				{{# if(d.type == 'friend' || d.type == 'recommend'){ }}
					{{#  layui.each(d.data, function(index, item){ }}
					<div class="layui-col-xs3 layui-find-list">
						<li layim-event="add"  data-type="friend" data-index="{{index}}" data-id="{{ item.id }}" data-username="{{item.username}}"  data-avatar="{{item.avatar}}">
                            <img class="{{item.status == 'online' ? '' : 'gray'}}" src="{{item.avatar}}">
							<span>{{item.username}}</span>
							<p>{{item.sign}}  {{#  if(item.sign == ''){ }}我很懒，懒得写签名{{#  } }} </p>
							<button class="layui-btn layui-btn-mini btncolor add" data-type="friend"><i class="layui-icon">&#xe654;</i>加好友</button>
						</li>
					</div>
					{{#  }); }}
				{{# }else{ }}
					{{#  layui.each(d.data, function(index, item){ }}
					<div class="layui-col-xs3 layui-find-list">
						<li layim-event="add" data-type="group" data-approval="{{ item.approval }}" data-index="0" data-id="{{ item.groupIdx }}" data-name="{{item.groupName}}">
							<img src="{{item.avatar}}">
							<span>{{item.nickname}}({{item.groupIdx}})</span>
							<p>{{item.des}}  {{#  if(item.des == ''){ }}无{{#  } }} </p>
							<button class="layui-btn layui-btn-mini btncolor add" data-type="group"><i class="layui-icon">&#xe654;</i>加群</button>
						</li>
					</div>
					{{#  }); }}
				{{# } }}
			</div>	
        </textarea>
            <div style="text-align:center">
                <div class="lay_page" id="LAY_page"></div>
            </div>
        </div>
    </div>
</body>
<script type="module">
    import { getToken } from "/resource/js/utils/auth.js";
    import { socketData } from "/resource/js/chat/socket.js";
    import { search, recommend } from "/resource/js/api/user.js";
    import { getParams } from "/resource/js/utils/tools.js";
    layui.use(['layim', 'laypage', 'form'], function () {
        var socket = window.parent.ws
        var type = "recommend"
        var legend = "推荐好友"
        var wd = ""
        var page = 1
        var limit = 10
        var total = 0
        var layim = layui.layim
            , layer = layui.layer
            , laytpl = layui.laytpl
            , form = layui.form
            , laypage = layui.laypage;
        $(function () {
            searchData()
        });
        $('body').on('click', '.add', function () {//添加好友
            var othis = $(this)
            let id = othis.parent().attr("data-id")
            let username = othis.parent().attr("data-username")
            let avatar = othis.parent().attr("data-avatar")
            type = othis.data('type')
            //弹出添加好友框
            parent.layui.layim.add({
                type: type //friend：申请加好友、group：申请加群
                , username: username //好友昵称，若申请加群，参数为：groupname
                , avatar: avatar //头像
                , submit: function (group, remark, index) { //一般在此执行Ajax和WS，以通知对方
                    console.log(group); //获取选择的好友分组ID，若为添加群，则不返回值
                    console.log(remark); //获取附加信息
                    layer.close(index); //关闭改面板
                    socket.send(socketData('addFriend', {
                        friend_group_id: group,
                        friend_id: id,
                        remark: remark,
                    }));
                }
            });
        });
        $('body').on('click', '.back', function () {//返回推荐好友
            type = "friend"
            wd = ""
            legend = "推荐好友"
            searchData()
            $("#LAY_page").css("display", "none");
        });
        $("body").keydown(function (event) {
            if (event.keyCode == 13) {
                $(".find").click();
            }
        });
        $('body').on('click', '.find', function () {
            $("#LAY_page").css("display", "block");
            var othis = $(this), input = othis.parents('.layui-col-space3').find('input').val();
            var addType = $('input:radio:checked').val();
            page = 1
            type = "friend"
            wd = input
            legend = "查找结果"
            searchData("friend", input, "查找结果")
        });
        function getPage(cpage) {
            laypage.render({
                elem: 'LAY_page'
                , count: total
                , limit: limit
                , curr: cpage
                , groups: 10 //连续显示分页数
                , layout: ['count', 'prev', 'page', 'next', 'limit', 'skip']
                , jump: function (obj, first) {
                    page = obj.curr //得到当前页，以便向服务端请求对应页的数据
                    limit = obj.limit //得到每页显示的条数
                    if (!first) {
                        searchData()
                    }
                }
            });
        }
        function searchData() {
            var param = getParams()
            param.token = getToken()
            param.page = page
            param.limit = limit
            param.wd = wd
            var func = "search"
            if (type == "group") {
                url = "/api/group/search";
            } else if (type == "recommend") {
                recommend(param).then(response => {
                    addView(response)
                })
            } else {
                search(param).then(response => {
                    addView(response)
                })
            }
        }
        function addView(response) {
            total = response.data.count
            var html = laytpl(LAY_tpl.value).render({
                data: response.data.list,
                type: type,
                legend: legend
            });
            $('#LAY_view').html(html);
            getPage(page)
        }
    });
</script>

</html>