<style type="text/css">
    .container {
        width: 420px;
        height: 320px;
        min-height: 320px;
        max-height: 320px;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        padding: 20px;
        z-index: 130;
        border-radius: 8px;
        background-color: #fff;
        box-shadow: 0 3px 18px rgba(100, 0, 0, .5);
        font-size: 16px;
    }

    .close {
        background-color: white;
        border: none;
        font-size: 18px;
        margin-left: 410px;
        margin-top: -10px;
    }

    .layui-input {
        border-radius: 5px;
        width: 300px;
        height: 40px;
        font-size: 15px;
    }

    .layui-form-item {
        margin-left: -20px;
    }

    #logoid {
        margin-top: -16px;
        padding-left: 150px;
        padding-bottom: 15px;
    }

    .layui-btn {
        margin-left: -50px;
        border-radius: 5px;
        width: 350px;
        height: 40px;
        font-size: 15px;
    }

    .verity {
        width: 120px;
    }

    .font-set {
        font-size: 13px;
        text-decoration: none;
        margin-left: 120px;
    }

    a:hover {
        text-decoration: underline;
    }
</style>

<body>
    <form class="layui-form">
        <div class="container">
            <div class="layui-form-mid layui-word-aux">
                <img id="logoid" src="/resource/image/signIn.png" height="35">
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">用户名</label>
                <div class="layui-input-block">
                    <input type="text" name="username" required lay-verify="required" placeholder="请输入用户名"
                        autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">密 &nbsp;&nbsp;码</label>
                <div class="layui-input-inline">
                    <input type="password" name="password" required lay-verify="required" placeholder="请输入密码"
                        autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit lay-filter="formDemo">登陆</button>
                </div>
            </div>
            <a href="" class="font-set">忘记密码?</a> <a href="" class="font-set">立即注册</a>
        </div>
    </form>
    <script>
        layui.use('form', function () {
            var form = layui.form()
            //监听提交
            form.on('submit(formDemo)', function (data) {
                $.post('/api/user/signIn', data.field, function (res) {
                    if (interceptor(res)) {
                        if (res.data.token) {
                            setToken(res.data.token)
                            layer.msg("登录成功，页面跳转中~")
                            setTimeout(function () {
                                window.location.href = '/proFile';
                            }, 2000)
                        }
                    }
                }, 'JSON')
                return false;
            });
        });
    </script>
</body>